body {
    text-align: center;
}

.btn {
    height: 130px;
    width: 130px;
    border-radius: 20%;
    border:6px solid black;
    margin:1.5rem;
}

.line-one {
    display:flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

.flash {
    background-color: white;
}